* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  background-color: #2d2839;

  color: #d1d7e0;
}
.container {
  padding: 0vmin 10vmin 0vmin 10vmin;
}

#big-image {
  filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
  height: 70vmin;
}
#big-image:hover {
  filter: drop-shadow(0 -6mm 4mm rgb(25, 221, 221));
}

.title {
  font-size: 7vmin;
  color: #802bb1;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
  padding: 5vmin 0vmin 5vmin 0vmin;
}

/*----------------nav----------------------------------------------------------------------*/

.logo {
  font-size: 7vmin;
  color: 86C232;
  font-weight: bolder;
  font-family: cursive;
  color: #802bb1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #151719;
  cursor: pointer;
}
nav li :hover {
  color: rgb(160, 0, 210);
  font-size: 3.5vmin;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1vmin 2vmin;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5vmin;
  position: relative;
}

/*-------------------Home--------------------------------------------------------------------*/
.home-content {
  display: flex;
  justify-content: center;
  padding-top: 3vmin;
}

.header-text {
  margin-top: 10%;
  font-size: 5vmin;
}

.header-text h1 {
  font-size: 8vmin;
  margin-top: 1vmin;
}

.header-text h1 span {
  color: #802bb1;
  font-size: 10vmin;
}

/*----------------skill-----------------------------------------------------------------------------*/

.skill {
  display: flex;
  justify-content: space-evenly;
}
.skill-name {
  font-size: 3vmin;
  font-weight: 100;
  font-family: "Courier New";
  padding: 4vmin 0vmin 3vmin 0vmin;
  font-weight: 600;
}

.Technical {
  padding: 0vmin 7vmin 7vmin 7vmin;
  width: 70vmin;
}

.professional-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill-bar {
  height: 3.1vmin;
  background-color: black;
  border-radius: 5vmin;
}

.skill-per {
  height: 3vmin;
  background-color: rgb(185, 3, 241);
  border-radius: 5vmin;
  position: relative;
  animation: fillbars 2s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 0.5vmin 1vmin;
  color: white;
  border-radius: 0.5vmin;
  font-size: 2vmin;
  top: -0.5vmin;
  right: 0;
  border-radius: 5vmin;
  font-weight: 700;
}

@keyframes fillbars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.skill-box {
  box-shadow: 0 1vmin 2vmin 0 rgb(160, 0, 210);
  margin: 2vmin;
}

.professional-skill {
  padding: 5vmin;
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: rgb(160, 0, 210);
  --secondary: rgb(0, 0, 0);
  --size: 17vmin;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    var(--primary) calc(var(--percentage) * 1%),
    var(--secondary) 0
  );
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/*----------------about me-----------------------------------------------------------------------*/
.about-content {
  display: flex;
  font-size: 3.5vmin;
  align-items: center;
}

.about-edu {
  display: flex;
}

.content {
  box-shadow: 0 1vmin 2vmin 0 rgb(160, 0, 210);
  padding: 2vmin;
  border-radius: 4vmin;
}

/*----------------contact me--------------------------------------------------------------------------*/
.contact-me {
  font-size: 3.5vmin;
  display: flex;
  justify-content: center;
}

.contact-text {
  box-shadow: 0 1vmin 2vmin 0 rgb(160, 0, 210);
  padding: 7vmin;
  font-size: 3.9vmin;
  margin: 3vmin;
  border-radius: 3vmin;
}
.contact-logo {
  padding-top: 5vmin;
  display: flex;
  flex-direction: column;
}

#contact-logo:hover {
  height: 8vmin;
  width: 8vmin;
  cursor: pointer;
}
.contact-img {
  padding-top: 5vmin;
  margin-bottom: 4vmin;
}

/*---------------- footer--------------------------------------------------------------------------------------*/
.footer {
  background-color: #151719;
  text-align: center;
  font-size: 8vmin;
  padding: 5vmin;
}

.burger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  display: none;
  margin-top: 7px;
}
.line {
  width: 33px;
  background-color: #fff;
  height: 4px;
  margin: 5px 5px;
}
/*---------------- responsive--------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    display: flex;
    flex-direction: column;
  }
  .logo {
    font-size: 9vmin;
    margin: 2vmin;
  }

  nav ul li a {
    font-size: 5vmin;
    align-content: space-evenly;
  }
  .burger {
    display: block;
    padding-top: 3vmin;
  }
  .skill {
    display: flex;
    flex-direction: column;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }
  .contact-me {
    display: flex;
    flex-direction: column-reverse;
  }
  .hidden {
    display: none;
    transition: ease-out 10s;
  }
}
