* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
   
    justify-content: center;
    background-color: #222629;
    
    color: #61892F;

}
.container{
    padding-left: 50px;
    padding-right: 50px;
}


.title {
    font-size: 50px;
    color: #86C232;
    font-weight: bolder;
    font-family: cursive;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

/*----------------nav----------------------------*/

.logo {
    font-size: 60px;
    color: 86C232;
    font-weight: bolder;
    font-family: cursive;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #151719;
}
nav li :hover{
  color: #61892F ;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}



/*-------------------Home-------------------------*/
.home-content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
}


.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: 86C232;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/*----------------skill----------------------------*/

progress {
    width: 600px;
    height: 40px;
}

.skill {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Courier New'

}

.skill-main {
    display: flex;
    justify-content: center;

}

.technical {
    border: 86C232;
    border-style: solid;
    padding: 30px;
}
.skill-main span{
     font-size: 30px;   
        
}


/*----------------about me----------------------------*/
.about-content {
    display: flex;
    font-size: 28px;
}


.about-edu {
    display: flex;
}

/*----------------contact me----------------------------*/
.contact-me {
    font-size: 30px;
    display: flex;
    justify-content: center ;

}

.contact-text{
    padding-left: 30px;
    padding-right: 30px;
    
}
.contact-logo 
{
    padding-top: 30px;
    display: flex; flex-direction: column; 
}
/*---------------- footer----------------------------*/
.footer{
    background-color: #151719;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}





@media only screen and (max-width: 600px) {
    body  {
        padding: 0%;
        margin: 0%;
        justify-content: center;
    }

    nav ul{
        top: -500px;
    }
    .home-content img{
        height: 200px;
        width: 200px;
    }
    .home-content h1 { 
        font-size: 25px; 
    }
    .home-content p { 
        font-size: 15px;  
    }

    .about-content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .about-content img{
        height: 200px;
        width: 200px;
        justify-content: center;
    }



    .skill-main {
        display: flex;
        flex-direction: column;
        font-size: 12px;

    }
    .skill-main span{
       font-size: 23px; 
        
    }
    .skill{
        font-size: 23px; 
    }

    progress {
        width: 200px;
        height: 20px;

    }



    .contact-me {
        display: flex;
        flex-direction: column-reverse; 
        font-size: 14px;
    }
    .contact-img img{
        height: 200px;
        width: 200px;
    }
    .contact-logo img{
        height: 25px;
        width: 25px;
    }
    

.footer{
    font-size: 25px;

}
}




